.caroussel {
  height: 415px;
  position: relative;
  border-radius: 15px;

  button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
    color: $white;
    transform: translateY(-50%);
    top: 50%;
    font-size: 4rem;
    @media screen and (max-width: 600px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 2rem;
    }
  }
  #prev {
    left: 10px;
  }
  #next {
    right: 10px;
  }
  li {
    list-style: none;
  }

  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;

    &.active {
      opacity: 1;
    }
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }

  p {
    position: absolute;
    left: 50%;
    bottom: 0;
    font-weight: 500;
    font-size: 18px;
    color: $white;
    padding-bottom: 15px;
    cursor: default;
  }
}
