.img-about {
  background: url(../../assets/img/bg-about.jpg) center/cover;
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: -10px;
  border-radius: 25px;
  padding: 111.5px 0;
  z-index: 1;
  @media screen and (max-width: 1300px) {
    margin: 0 20px;
  }
  .overlay-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: darken;
    border-radius: 25px;
    z-index: -1;
  }
}
.wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 60px 20px 7px 20px;
}

.collapsible {
  max-width: 1020px;
  font-size: 24px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collapsible-item {
  margin-bottom: 20px;
  position: relative;
}
.collapsible input {
  display: none;
}
.collapsible label {
  position: relative;
  font-weight: 600;
  background: $color1;
  color: $white;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  z-index: 1;
  margin-bottom: 50px;
  @media screen and (max-width: 1300px) {
    font-size: 18px;
  }
  @media screen and (max-width: 540px) {
    font-size: 14px;
  }
}
.collapsible label:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  width: 25px;
  height: 18px;
  background: url(../../assets/img/Vector.png) no-repeat 0 0;
  transition: all 0.5s ease;
  @media screen and (max-width: 540px) {
    height: 9px;
    width: 25px;
  }
}
.collapsible input:checked + label:after {
  transform: rotate(180deg) translateY(50%);
}
.collapsible input:checked ~ label {
  margin-bottom: 0;
}

.collapsible-text {
  max-height: 0;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.collapsible input:checked ~ .collapsible-text {
  max-height: 300px;
  padding-bottom: 0;
  background: $white;
  opacity: 1;
  top: 0;
  transition: 0.5s ease;
}
.collapsible-text p {
  padding: 15px 15px;
  font-weight: none;
  font-size: 18px;
  background: #fcfcfc;
  text-align: left;
  line-height: 1.2;
  @media screen and (max-width: 540px) {
    font-size: 14px;
  }
}
